/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content header*/
.modal-header {
	height: 40px;
	width: 60%;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
    background-color: #000000;
	margin: auto;
	font-family: "HelveticaLTStd Light",helvetica;
}

/* Modal Content outer*/
.modal-content-outer {
    background-color: rgba(87,186,71,0.66) !important;
    margin: auto;
    padding-bottom: 20px;
    width: 60%;
}

/* Modal Content innner*/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 98%;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    background-image: url("close-button.png");
	background-size: cover;
    position: absolute;
    font-size: 0px;
	display: block;
	width: 28px;
	height: 28px;
	right: 240px;
	top: 90px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=button] {
	background-color: rgba(87,186,71,0.66);
	border: 1px solid #d3d3d3 !important;
}